
// Pipeline Config:
$HOSTNAME='default'
params {
   // Input parameters
   readsfile    = "sampleslist.csv"
   project_name = "TCR_MHE_PROJECT"
   chain        = 'TRB' //chain should be one of 'TRA' or 'TRB'
   mcpas        = "data/McPAS-TCR.csv"
   vdjdb        = "data/VDJdb-TCR.tsv"
   specie       = 'HomoSapiens' //specie should be one of 'HomoSapiens' or 'MusMusculus'
}

process {
	
    container = 'ssnnm/mhecd4tcr:0.1.0'
    
    withName: mixcr_analyze {
            container = 'milaboratory/mixcr:latest'
        }
}

params.container = process.container

profiles {

    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }
}